body {
	font-family: 'Heebo', sans-serif ;
	font-weight: normal;  
}

.table {
	#tablehead {
		cursor: pointer; 
		th {

			div, span {
				pointer-events: none;
			}
			i {
				display: none;
				color: red;
				pointer-events: none;
				color : pink;
			}
			&[data-asc="true"] {
				i.fa-sort-down {
					display: block;
				}
			}
			&[data-asc="false"] {
				i.fa-sort-up {
					display: block;
				}
			}
		}
	}
}
